.menu-wrapper {
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.nav-wrapper {
    width: 100%;
    height: 100%;
}

.navbar-wrapper {
    position: fixed;
    background: var(--main-color);
    width: 100%;
    height: var(--navbar-height);
    display: flex;
    align-items: center;
    z-index: 100;
    padding: 0px var(--gap);
}

.navbar-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburger-menu {
    padding: 8px;
    border-radius: 100%;
    transition: 0.25s ease;
    cursor: pointer;
}

.hamburger-menu.expand {
    background: var(--bg-dark);
    color: var(--text-light);
}

.hamburger-menu:hover {
    scale: 1.15;
}

.diary-logo-container {
    height: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    padding: 0px var(--gap);
}

.diary-logo-container img {
    height: 100%;
}

.diary-logo-container h2 {
    position: relative;
    font-family: 'Courier New', Courier, monospace;
}

.menu-icon {
    font-size: 1.5rem;
    cursor: pointer;
}

.side-menu-wrapper {
    position: fixed;
    top: var(--navbar-height);
    width: var(--side-menu-width);
    height: 100%;
    background: var(--bg-dark);
    z-index: 100;
    transition: var(--common-trans);
}

.side-menu-list {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    cursor: pointer;
}

.side-menu-list a:hover {
    background: var(--sub-color);
    color: var(--text-light);
    scale: 1.05;
}

.menu-item-container.selected {
    background: var(--sub-color);
    color: var(--text-light);
    scale: 1.05;
}

.menu-item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: calc(var(--gap) * 2);
    gap: var(--gap);
}

.side-menu-list a,
.menu-item-title {
    width: 100%;
    height: 100%;
    margin: 0;
    color: var(--text-light);
    transition: 0.15s ease;
    text-align: center;
    text-decoration: none;
}

.menu-item-title.expand {
    display: none;
}