
.profile-top-container{
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    align-items: center;
    justify-content: center;
}
.profile-top-container .profile-image {
    width: 150px;
    aspect-ratio: 1/1;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid rgba(0, 0, 0, 1);
}

.profile-button-container {
    display: flex;
    gap: var(--gap);
    justify-content: center;
}