.task-card-wrapper {
    transition: var(--common-trans);
    cursor: pointer;
    margin: 0px var(--gap);
    border-bottom: 1px solid rgba(128,128,128, 0.2);
}

.task-card-container {
    padding: 10px;
}

.task-card-wrapper:hover {
    box-shadow: var(--card-box-shadow);
    border-bottom: 1px solid rgba(128,128,128, 0);
}

.task-progress-container {
    display: flex;
    align-items: center;
    gap: calc(var(--gap) / 2);
}

.task-progress-bar {
    height: 10px;
    flex: 1;
}

.task-description {
    font-size: 0.9rem;
    color: var(--text-gray);
}

.task-progress-percentage {
    font-size: 0.9rem;
    color: var(--text-gray);

}